<%- include ('partials/header') %>
<%- include ('partials/navbarCriaEvento') %>

<body>
  <br>
  <hr>
  <div class="container">
    <form class="formEvento" name="formEvento" method="POST" action="/salvar" onsubmit="validate(event, this)">
      <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name">
      <label for="local">Local:</label>
      <input type="text" name="local" id="local">
      <label for="date">Data:</label>
      <input type="date" name="date" id="date">
      <label for="time">Horário:</label>
      <input type="time" name="time" id="time">
      <button class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>
</body>

<%- include ('partials/footer') %>

<!-- Verifica campos -->
<script>
  function validate(event, form) {
    event.preventDefault();
    let name = formEvento.name.value;
    let local = formEvento.local.value;
    let date = formEvento.date.value;
    let time = formEvento.time.value;

    if(name == "") {
      alert('Defina o nome do evento.');
      formEvento.name.focus();
      return false;
    } else if(local == "") {
      alert('Defina o local do evento.');
      formEvento.local.focus;
      return false;
    } else if(date == "") {
      alert('Defina a data do evento.');
      formEvento.date.focus;
      return false;
    } else if (time == "") {
      alert('Defina o horário do evento.');
      formEvento.time.focus;
      return false;
    }
     else {
      form.submit();
    }
  }
</script>