<%- include ('partials/header') %>
<%- include ('partials/navbarCriaEvento') %>

<body>
  <div class="container">
    <form method="POST" action="/salvar">
      <div class="form-group">
      <label for="name">Nome:</label>
      <input type="text" name="name" id="name">
      <label for="local">Local:</label>
      <input type="text" name="local" id="local">
      <label for="date">Data:</label>
      <input type="date" name="date" id="date">
      <label for="time">Horário:</label>
      <input type="time" name="time" id="time">
      <button class="btn btn-success">Salvar</button>
      </div>
    </form>
  </div>
</body>

<%- include ('partials/footer') %>