<%- include ('partials/header') %>
<%- include ('partials/navbarCriaEvento') %>

<body>
  <div class="container">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" id="nome">
    <label for="local">Local:</label>
    <input type="text" name="local" id="local">
    <label for="data">Data:</label>
    <input type="date" name="data" id="data">
    <label for="horario">Horário:</label>
    <input type="time" name="horario" id="horario">
  </div>
</body>

<%- include ('partials/header') %>